.content {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    border: 3px solid black;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 35px 0;
    padding-bottom: 25px;
    border-bottom: 2px dashed black;
}

nav {
    margin-top: 25px;
}

nav a {
    text-decoration: none;
    margin: 0 40px 0 35px;
    color: black;
}

nav a:hover {
    border: 2px solid black;
    padding: 5px;
    background: lightgray; 
}

h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

p {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    border: 2px dashed slategray;
    padding: 25px;
}

input {
    padding: 20px;
    font-size: 20px;
}

.thankYouBody {
    width: 900px;
    height: 100%;
    margin: 0 auto;
    font-size: 20px;
}

.thankYou {
    Font-size: 60px;
    display: flex;
    justify-content: center;
}